
<div
  class="service" id="client"
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('static/bg_client.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  "
>
  <div class="service-head text-center pt-3 text-light text-uppercase"></div>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row srow">
         <!---------claint section end-------->
            <div class="client">
              <div class="container">
                <div class="row">
                <div class="col-md-3">
                  <img src="static/1.jpg" alt="" class="w-100">
                </div>
                <div class="col-md-3">
                  <img src="static/2.png" alt="" class="w-100">
                </div>
                <div class="col-md-3">
                  <img src="static/3.jpeg" alt="" class="w-100">
                </div>
                <div class="col-md-3">
                  <img src="static/4.jpg" alt="" class="w-100">
                </div>
            
            </div>
            <div class="row">
            
                <div class="col-md-3">
                  <img src="static/5.png" alt="" class="w-100">
                </div>
                <div class="col-md-3">
                  <img src="static/6.png" alt="" class="w-100">
                </div>
                <div class="col-md-3">
                  <img src="static/7.png" alt="" class="w-100">
                </div>
                <div class="col-md-3">
                  <img src="static/8.png" alt="" class="w-100">
                </div>
                
            </div>
            </div>
        </div>

        <!---------claint section end-------->

     </div>
    </div>
  </div>
</div>

